<ion-header>
  <ion-toolbar>
    <ion-title>
      Doctors App
    </ion-title>
    <ion-button slot="end"  (click)="onLogout()" expand="block" fill="clear" shape="round">
      Logout
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ios list-ios hydrated">
    <ion-list-header class="ios hydrated">
      Appointments
    </ion-list-header>

    <ion-item *ngFor="let booking of Bookings" class="user-list">
      <ion-label>
        <h5>
          <ion-icon name="person"></ion-icon> {{booking.name}}
        </h5>
        <p>
          <ion-icon name="call"></ion-icon> {{booking.mobile}}
        </p>
      </ion-label>

      <div class="item-note" item-end>
        <button ion-button clear (click)="gotoEditApt(booking.$key)">
          <ion-icon name="create" style="zoom:2.0"></ion-icon>
        </button>
        <button ion-button clear (click)="deleteBooking(booking.$key)">
          <ion-icon name="trash" style="zoom:2.0"></ion-icon>
        </button>
      </div>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="fab-buttons">
    <ion-fab-button (click)="gotoMakeApt()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
    
  </ion-fab>

  
</ion-content>

